body{
    
    background-image: url(./posters/bgi-final.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    /* background-attachment: fixed; */
    
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    color: white;
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 700px;
}

#netflix{
    margin-left: 100px;
    margin-top: 10px;
    position: fixed;
}

.sign-in{
    /* display: inline-block; */
    text-align: right;
    margin-top: 25px;
    margin-right: 150px;
}